html
    head
        title(id='myTitle')=title
    body(class=['myClass'])
        h1(id='myId') my Page
        p
            h3 sub header
            ul
                each val in list
                    li=val